body{font-family:"Comic Sans MS";
    color: black;
    background-color:lightblue;
    }
    p{
    color:black;
    }
    body{
        color:aqua;
        size: "100%";
        font-family:"arial";
    }
    footer{
        font: 100;
        size: 10cm;
        color: white ;
    }
    