<!doctype html>
<html>
  <head>
    <title>My Site</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  
  <body>
    <header>
      <h1>THIS IS MY SITE</h1>
    </header>
    <nav>NAVBAR!</nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>Nobody reads me!</footer>
  
  </body>
  <ul>
    <link><a href="http://127.0.0.1:5000/pizza/2">home</a></link>
    <link><a href="http://127.0.0.1:5000/pizza/3">home</a></link>
    <link><a href="http://127.0.0.1:5000/pizza/4">home</a></link>
  </ul>
</html>
